name: Backport merged pull request
on:
  pull_request_target:
    types: [closed]
permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
jobs:
  backport:
    name: Backport pull request
    runs-on: ubuntu-latest
    # Don't run on closed unmerged pull requests
    if: github.event.pull_request.merged
    steps:
      - uses: actions/checkout@v6.0.1 # v6.0.1
      - name: Create backport pull requests
        uses: korthout/backport-action@#v4.0.1 # v4.0.1
        with:
          add_author_as_assignee: true
          pull_description: |-
            Backport of #${pull_number} to `${target_branch}`.

            /cc @${pull_author}
